body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ed002e;
    color: white;
    padding: 20px 0;
}
header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
header nav li {
    display: inline;
    margin-left: 20px;
}
header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main {
    padding:  0;
}
.hero {
    background-color: #aba9a9;
    padding: 40px;
    text-align: center;
}
.hero h2 {
    color: #333;
}
.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ed002e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #555;
}
.services {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.services h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.service {
    display: flex; 
    align-items: center;
    margin-bottom: 30px;
}
.service img {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.service-info {
    flex: 1;
}

.service h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.service p {
    font-size: 1.1em;
    color: #555;
    margin: 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}